--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: news_media; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_media (
    id integer NOT NULL,
    img text,
    title text,
    subtext text,
    date text
);


ALTER TABLE public.news_media OWNER TO postgres;

--
-- Name: news_media_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.news_media_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.news_media_id_seq OWNER TO postgres;

--
-- Name: news_media_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.news_media_id_seq OWNED BY public.news_media.id;


--
-- Name: placement_stats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.placement_stats (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    value integer NOT NULL
);


ALTER TABLE public.placement_stats OWNER TO postgres;

--
-- Name: placement_stats_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.placement_stats_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.placement_stats_id_seq OWNER TO postgres;

--
-- Name: placement_stats_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.placement_stats_id_seq OWNED BY public.placement_stats.id;


--
-- Name: programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.programs (
    id bigint NOT NULL,
    title text,
    tags text[],
    details text,
    document text,
    posted text
);


ALTER TABLE public.programs OWNER TO postgres;

--
-- Name: programs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.programs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.programs_id_seq OWNER TO postgres;

--
-- Name: programs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.programs_id_seq OWNED BY public.programs.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id bigint NOT NULL,
    image text,
    name text,
    "position" text
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.students_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.students_id_seq OWNER TO postgres;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teachers (
    id bigint NOT NULL,
    image text,
    name text,
    "position" text
);


ALTER TABLE public.teachers OWNER TO postgres;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.teachers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teachers_id_seq OWNER TO postgres;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: why_recruit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.why_recruit (
    id bigint NOT NULL,
    reason text NOT NULL
);


ALTER TABLE public.why_recruit OWNER TO postgres;

--
-- Name: why_recruit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.why_recruit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.why_recruit_id_seq OWNER TO postgres;

--
-- Name: why_recruit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.why_recruit_id_seq OWNED BY public.why_recruit.id;


--
-- Name: news_media id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_media ALTER COLUMN id SET DEFAULT nextval('public.news_media_id_seq'::regclass);


--
-- Name: placement_stats id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placement_stats ALTER COLUMN id SET DEFAULT nextval('public.placement_stats_id_seq'::regclass);


--
-- Name: programs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs ALTER COLUMN id SET DEFAULT nextval('public.programs_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: why_recruit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.why_recruit ALTER COLUMN id SET DEFAULT nextval('public.why_recruit_id_seq'::regclass);


--
-- Data for Name: news_media; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: placement_stats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.placement_stats (id, name, value) FROM stdin;
1	studentsPlaced	1172
2	companiesVisited	267
3	totalOffers	1250
4	highestPackage	70
\.


--
-- Data for Name: programs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.teachers (id, image, name, "position") FROM stdin;
1	/images/our_team/teachers/praveen.png	Dr. Praveen S	Chairperson
2	/images/our_team/teachers/vijayraj.png	Dr. Vijayraj K	Vice Chairperson (Placement)
3	/images/our_team/teachers/negi.png	Dr. Prateek Negi	Vice Chairperson (Training)
4	/images/our_team/teachers/deepthi.png	Dr. Deepthi B	Vice Chairperson (Internship)
\.


--
-- Data for Name: why_recruit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.why_recruit (id, reason) FROM stdin;
1	Quantitative & Analytical Strength
2	Flexible Internships
3	Competitive Coding Culture
4	Strong Development programming
5	6 year Fully Accredited Programms
6	Strong R&D and Indusrty Interactions
\.


--
-- Name: news_media_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_media_id_seq', 12, true);


--
-- Name: placement_stats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.placement_stats_id_seq', 4, true);


--
-- Name: programs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.programs_id_seq', 10, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.students_id_seq', 8, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.teachers_id_seq', 4, true);


--
-- Name: why_recruit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.why_recruit_id_seq', 6, true);


--
-- Name: news_media news_media_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_media
    ADD CONSTRAINT news_media_pkey PRIMARY KEY (id);


--
-- Name: placement_stats placement_stats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placement_stats
    ADD CONSTRAINT placement_stats_pkey PRIMARY KEY (id);


--
-- Name: programs programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: why_recruit why_recruit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.why_recruit
    ADD CONSTRAINT why_recruit_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

